{#include base}
{#body}
<h2>{msg:login}</h2>
<form class="form-horizontal" method="post" action="/users/login">
  <div class="form-group">
    <label class="col-sm-2 control-label">{msg:email}</label>
    <div class="col-sm-10">
      <input class="form-control" type="email" id="email" name="email" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">{msg:password}</label>
    <div class="col-sm-10">
      <input class="form-control" type="password" id="password" name="password" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" type="submit">{msg:login}</button>
    </div>
  </div>
</form>
{/body}
{/include}
